@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #a6bfc2;
  box-shadow:inset 0px 0px 0px 10px wheat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
